.app {
  padding: 8vw 6.4vw;
  border-color: #fefefe;
  color: #000;
}

.app__title {
  font-size: 8vw;
  text-transform: uppercase;
  line-height: 14vw;
  text-align: center;
}

.app__descr {
  margin-top: 4vw;
  font-size: 4.2vw;
  text-align: center;
}

.app__links {
  display: flex;
  column-gap: 3vw;
  margin-top: 10vw;
}

.app__btn {
  border: solid 1px #000;
  border-radius: 8px;
  color: #000;
  width: 63vw;
  height: 13vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2vw;
  font-size: 4.7vw;
  text-transform: uppercase;
  border-radius: 3vw;
  overflow: hidden;
  position: relative;
}

.new {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 60px;
  min-height: calc(100svh - 60px);
  padding: 0 6.4vw 13vw;
  background-image: url(../../img/bg/test5.png);
  /* background-position: top right; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size:  300% 100%; */
  background-color: #000;
}
.new a {
  position: absolute;
  bottom: 13vw;
  left: 50%;
  transform: translateX(-50%);
}

.new p {
  margin-top: 20px;
}

/* .new::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
} */

.new h1 {
  position: relative;
  z-index: 99;
  color: #fff;
  font-size: 15vw;
  line-height: 16vw;
}

.new h1 span {
  color: #01c2c3;
}

.new p {
  position: relative;
  z-index: 99;
  color: #fff;
  text-align-last: left;
}

.background {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  gap: 30px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
