.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 4.533vw;
  height: 12.267vw;
  background: #14151a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-img {
  width: 5.6vw;
  height: 5.6vw;
}

.header__logo-text {
  padding: 0 2.13vw;
  line-height: 4.267vw;
  font-size: 3.2vw;
  font-weight: 400;
  color: #fff;
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2vw;
  padding: 0 2vw;
  width: 19vw;
  height: 6.4vw;
  background: #01c2c3;
  border-radius: 0.533vw;
  cursor: pointer;
}

.header__btn-text {
  font-size: 3.2vw;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.header__btn-burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.9vw;
}

.header__btn-burger span {
  display: block;
  width: 3vw;
  height: 0.2vw;
  border-radius: 1px;
  background-color: #fff;
  transition: all 0.2s;
}
