.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 6.4vw;
  background: #14151a;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-img {
  width: 30px;
  height: 30px;
}

.header__logo-text {
  padding: 0 10px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.header__btn {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 5px 10px;
  background: #06c6c6;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
}

.header__btn:hover {
  background: #07d5d5;
}

.header__btn-text {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
}

.header__btn-burger {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.header__btn-burger span {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
}
