.promo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  min-height: calc(100svh - 60px);
  padding: 0 6.4vw 15vw;
  background-image: url(../../img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

.promo__title {
  color: #fff;
  font-size: 15vw;
  line-height: 16vw;
  text-transform: uppercase;
  text-align: center;
  /* font-weight: 500; */
}

.promo__title span {
  color: #01c2c3;
}

.promo__descr {
  margin-top: 4vw;
  font-size: 4.2vw;
  text-align: center;
  color: #fff;
}

.promo__descr span {
  color: #01c2c3;
}

.promo__btn {
  position: absolute;
  bottom: 15vw;
  left: 50%;
  transform: translateX(-50%);
  width: 63vw;
  height: 13vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #01c2c3;
  font-size: 4.7vw;
  text-transform: uppercase;
  color: #fff;
  border-radius: 8vw;
  overflow: hidden;
}

/* Button animation */

@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.promo__btn:after {
  content: "";
  display: block;
  width: 30px;
  height: 200px;
  margin-left: 60px;
  background: #fff;
  opacity: 0.5;
  position: absolute;
  left: -40px;
  top: -100px;
  z-index: 1;
  transform: rotate(45deg);
  transition: all 0.1s;
  animation-name: slideme;
  animation-duration: 3s;
  animation-delay: 0.05s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
