.promo {
  margin-top: 14.1vw;
  padding: 8vw 0 15vw;
  background-color: #f1f1f1;
  color: #14151a;
  text-align: center;
}

.promo__title {
  font-size: 10vw;
  text-transform: uppercase;
  line-height: 16vw;
}

.promo__descr {
  margin-top: 4vw;
  font-size: 4.2vw;
}

.promo__descr span {
  color: #01c2c3;
}

.promo__img {
  padding: 12vw 0;
  position: relative;
}

.promo__img-original {
  position: absolute;
  right: 3vw;
  top: 7vw;
  border-radius: 100%;
  animation-name: spiner;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spiner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.promo__btn {
  width: 63vw;
  height: 13vw;
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #01c2c3;
  font-size: 4.7vw;
  text-transform: uppercase;
  color: #fff;
  border-radius: 8vw;
  /* z-index: -1; */
  /* -webkit-animation: scaleTo 1.3s linear infinite;
  -webkit-animation: scaleTo-jsx-2532953803 1.3s linear infinite;
  animation: scaleTo-jsx-2532953803 1.3s linear infinite; */
}

/* .promo__img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
} */

/* .promo__img img:nth-child(1) {
  grid-column: 1 / 4;
}

.promo__img img:nth-child(2) {
  grid-row: 2 / 3;
}
.promo__img img:nth-child(3) {
  grid-row: 2 / 3;
}
.promo__img img:nth-child(4) {
  grid-row: 2 / 3;
} */
