.promo {
  margin-top: 14.1vw;
  padding: 8vw 0;
  /* background-image: url(../../img/bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
  /* background-color: #252526; */
  background-color: #f1f1f1;
  color: #14151a;
  text-align: center;
}

.promo__title {
  font-size: 10vw;
  text-transform: uppercase;
  line-height: 16vw;
  letter-spacing: 0.00001vw;
}

.promo__descr {
  margin: 4vw 0;
  font-size: 4.2vw;
}

.promo__descr span {
  color: #01c2c3;
}

.promo__btn {
  display: block;
  margin: 8vw auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* column-gap: 2vw;
  padding: 0 2vw; */
  /* width: 19vw;
  height: 6.4vw; */
  background: #01c2c3;
  /* border-radius: 0.533vw; */
  /* cursor: pointer; */

  /* font-size: 3.2vw; */
  font-size: 4.7vw;
  text-transform: uppercase;
  color: #fff;

  width: 63vw;
  height: 13vw;
  /* position: fixed;
  bottom: 0;
  left: 0; */
  border-radius: 8vw;
  /* z-index: -1; */
  /* -webkit-animation: scaleTo 1.3s linear infinite;
  -webkit-animation: scaleTo-jsx-2532953803 1.3s linear infinite;
  animation: scaleTo-jsx-2532953803 1.3s linear infinite; */
}

/* .promo__img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
} */

/* .promo__img img:nth-child(1) {
  grid-column: 1 / 4;
}

.promo__img img:nth-child(2) {
  grid-row: 2 / 3;
}
.promo__img img:nth-child(3) {
  grid-row: 2 / 3;
}
.promo__img img:nth-child(4) {
  grid-row: 2 / 3;
} */
